@import '../../../scss/_mixins.scss';
@import '../../../scss/_variables.scss';
.mat-toolbar.mat-primary {
   @include toolbar();
  }
  .proceed{
    @include go();
 }
 .fundoo{
    @include fundoo();
    }
  .shop {
      font-size:25px;
      margin-bottom:-10px;
  }
  .sub{
      margin-top: 49px;
      width:240px;
      background-color: whitesmoke
  }
  
.first2{
    margin-top: 10px;
@include word();
}
.color{
    color:$red;
}

.list{
    margin-top: 6px;
    @include word();
    font-size:16px
}
.first{
    height:100px;
    width:40px;
}
.second{
    height:100px;
    width:100px;
}

.smallCard{
    width:70px;
    height:60px;
    border-radius: 20px 20px 20px 20px;
    background-color: $grey;
}
.one{
    height:400px;
}


.advance{
    color:rgb(81, 104, 209);
    font-weight: bold
}
.price{
   
    font-size:20px;
    margin-left:10px;
}
.col3{
    margin-left:13px;

}
@media only screen and (min-width: 250px) and (max-width: 450px) {

 @media only screen and (min-width: 250px) and (max-width: 950px) {
    .sub { 
        margin-top:-25px;
        width:150px;
        background-color: whitesmoke
       }
       .proceed{
       width:140px;
       font-size: 12px;
     }
  }
  .list { 
    font-size: 12px;    }
      }
      .three{
        height:400px;
    }
    .first1{
        margin-top: 20px;
    }
    .two{
        height:800px;
     }
     .left{
         margin-left: 19px;
     }
     .review{
         font-size:24px;
     }
     .clr{
         color:$lightblue
     }
     .subNew{
         margin-top: 1px;
     }
     .pay{
         font-family: bold;
     }
     .del{
         font-size: 20px;
         font-weight: lighter;
         font-family: cursive
     }
     .first3{
         margin-top: 50px;
     }


      .cartNew{
        margin-top: 10px;
    margin-left: 182px;
}
.review{
     margin-top:10px;
    margin-left: 380px;
    position: relative;
.fontNew{
    font-size:20px;
    margin-top:10px;
}

}
.done{
     margin-top: 10px;
    margin-left: 780px;
    position: relative;

}
::ng-deep.mat-progress-bar-fill::after {
    background-color: grey;
}
::ng-deep.mat-progress-bar-buffer {
    background-color: #DCDCDC;
}

.example-margin {
    margin: 0 10px;
  }