<!-- <div style="border: solid" fxFlex=10></div>
<div>
<div fxFlex class="fundooBox">
  fundooNotes
</div>

</div>
<div style="border: solid" fxFlex></div> -->

  <div fxLayout="row"  >

   
  <div  fxFlex=5 class="first"  >
  </div>

  <div fxFlex  fxLayout="column" class="second" >
  <div class="one">

<div>
  <div class="fundoo">fundooNotes</div>
  <div>
      <mat-tab-group>
          <mat-tab label="First"> Content 1 </mat-tab>
          <mat-tab label="Second"> Content 2 </mat-tab>
          <mat-tab label="Third"> Content 3 </mat-tab>
        </mat-tab-group>
  </div>
</div>

  </div>
  <div  class="two">
  </div>
  <div  class="three">
    </div>
  </div>


  <div fxFlex=5 class="first"></div>
</div>