.fundoo{
  
    border-radius:30px 30px 30px 30px;
    width:120px;
    margin-top:25px;
    padding:10px 0px 0px 22px;
    background-color: #fb0;
    color:white;
    height:30px;
    font-size:18px;
}
.first{
    height:100px;
    width:40px;
}
.second{
    height:100px;
    width:100px;
}
.one{
    height:400px;
}
.two{
   height:800px;
}
.three{
    height:400px;
}