<mat-icon class="icon2" mat-icon-button style="margin-bottom:30px;user-select: none;" 
          [matMenuTriggerFor]="menu" matTooltip="More">more_vert
</mat-icon>&nbsp;
<mat-menu class="menu" #menu="matMenu" [overlapTrigger]="false">
    <button *ngIf="name == 'trash' " mat-menu-item (click)="deleteforever()">
        <span>Delete Forever</span>
    </button>
    <button *ngIf="name == 'trash' " mat-menu-item (click)="restore(arrayOfNotes)">
        <span>Restore</span>
    </button>
    <button *ngIf="name != 'trash'" mat-menu-item (click)="deleteNotes(arrayofnotes)">
        <span>Delete Note</span>
    </button>
    <button *ngIf="name != 'trash'" mat-menu-item (click)="getLabel()" 
            [matMenuTriggerFor]="addlabel">
        <span>Add label</span>
    </button>
    <mat-menu [overlapTrigger]="false" (click)="$event.stopPropagation();" #addlabel="matMenu">
        <div class="title">Label note

        </div>
        <br><div fxLayout="row" (click)="$event.stopPropagation();">
            <mat-icon fxFlex="30" (click)="searchState()">search

            </mat-icon>
            <input class="inputTitle" [(ngModel)]="search" placeholder="Enter label name">
        </div>
        <br>
        <div *ngFor="let label of ArrayOfLabel | searchData:search">
            <mat-checkbox (click)="$event.stopPropagation();" (click)="clickFunc(label)"
                          [checked]="selectCheck(label)" class="example-margin">{{label.label}}
            </mat-checkbox>
        </div>
    </mat-menu>
    <button *ngIf="name != 'trash'" mat-menu-item><span>Add drawing</span>
    </button>
</mat-menu>