@import '../../../scss/_mixins.scss';
@import '../../../scss/_variables.scss';


.upload{
    background-color:$lightblue;
    color:$white;
    @include right();
}
.cancel{
    background-color:$lightblue;
    color:$white;
   
}