@import '../../../scss/_variables.scss';
@import '../../../scss/_mixins.scss';
.row-height {
    height: 100%;
  }
  
  .reset {
    text-align: center;
    color:$lightblue;
  }
  
  .email {
    width: 80%;
  }
  
  .submit {
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 10px;
    color: $white;
    background-color: $lightblue;
    margin-right: 0px;
  }