.row-height{
    height: 100%
}
.reset{
    text-align:center;
    color:  #4285f4;
}
.email{
    width:80%;
}
.submit{
    margin-top:30px;
    margin-left:200px;
    margin-bottom:10px;
    color:white;
    background-color: #4285f4;
    margin-right:0px;
}
