<div fxLayout="row" fxLayoutAlign="center center" class="row-height">
    <mat-card   fxFlex="30" fxFlex.xs="100" >

      <div class="reset">Forgotpassword?</div><br>
      
      <!-- <div class="new"> -->

          <mat-form-field  class="email">
    
              <input matInput placeholder="Email" [formControl]="email" [(ngModel)]="body.email"required>

              <mat-error *ngIf="email.invalid">{{errorMessage()}}</mat-error>
              
          </mat-form-field>
          <button (click)="forgotPassword()" mat-raised-button class="submit">Reset</button>



        <!-- </div> -->
      
        
    </mat-card>
</div>