<div fxLayout="row" fxLayoutAlign="center center" class="row-height">
    <mat-card fxFlex="55" class="card1">
     
      <span class="content" fxLayoutGap="space-between"> 
      <span  fxFlex="60"  tabindex="0" contenteditable="true" aria-multiline="true" role="textbox" >Take a note</span>
      <div ></div>
        <mat-icon fxFlex="25" class="icon1" mat-icon-button>newlist</mat-icon>
        <mat-icon fxFlex class="icon1" mat-icon-button>image</mat-icon>
        <mat-icon fxFlex="5" class="icon1" mat-icon-button>edit</mat-icon>
      </span>

    </mat-card>
</div>
