
         <div fxFlex.xs=0  class="shrink" fxFlex></div>
     <div fxFlex.xs=0  class="grow"  fxFlex="10">
     </div> 

      <div  fxLayout="row" 
       fxLayoutAlign="center center" class="row-height">
    <mat-card   
      fxFlex="54"
   fxFlex.md="100%"
   fxFlex.sm="100%"
   fxFlex.xs="100%"
   
          class="card" *ngIf="choose1 && collab ">


        <div >
            <span><input fxFlex="70" (click)="openNote()" class="input" placeholder="Take a note..">
            </span></div>

        <div class="cardicon" fxLayoutGap="space-between" fxLayoutAlign="end">
            
            <mat-icon fxFlex="13" fxLayoutAlign="end"  matTooltip="New note with image" 
            aria-disabled="false" 
            class="icon2" mat-icon-button></mat-icon>
            <mat-icon fxFlex="13" fxLayoutAlign="end"   matTooltip="Drawing not available"
             aria-disabled="true" 
            class="icon3" mat-icon-button></mat-icon>
            <mat-icon fxFlex="13" fxLayoutAlign="end"  class="icon1" matTooltip=" New Note" 
            aria-disabled="false" 
            (click)="choose3=false" (click)="choose2 = true"
            (click)=" choose1 = false" mat-icon-button>check_box</mat-icon>

        </div>

    </mat-card>

    <mat-card 
    fxFlex="54"
   fxFlex.md="100"
   fxFlex.sm="100"
   fxFlex.xs="100"
   ngStyle.sm="width:100%" 
   ngStyle.xs="width:100%" 
   ngStyle.md="width:100%" 
   ngStyle.lg="width:24%"
    class="hiddenCard" [ngStyle]="{'background-color':colorMyevent}"
     *ngIf="choose2 && collab">

        <div fxLayout="row" class="hiddenDiv">

            <div class="inputNote" id="title" fxFlex="95" contenteditable="true" 
            placeholder="Title"></div>
            <div> <img class="pinIcon" src="../../../assets/images/pin.svg" alt="">
            </div>
        </div>
                        <!-- -----------------Take a note------------------------- -->

        <div *ngIf="choose3==true" class="inputNote" id="description" contenteditable="true" 
        placeholder="Take a note" autofocus>
        </div>
                        <!-- -----------------CheckList------------------------- -->
        <div *ngIf="choose3==false" >
            <div *ngFor="let data of dataarray" fxLayout="row">

                <mat-checkbox fxFlex="5%"  [(ngModel)]=data.isChecked (click)="isChecked=!isChecked">

                </mat-checkbox>
          <input fxFlex="90" [ngStyle]="{'background-color':colorMyevent}" *ngIf="!choose3"
                 class="inputNote1" [(ngModel)]=data.data
                 >
                <mat-icon fxFlex="4%" (click)=remove(data) matTooltip="delete">clear</mat-icon>
            </div>
            <mat-divider></mat-divider>

            <div fxLayout="row">
                <mat-icon fxFlex="5%" *ngIf="!adding">add</mat-icon>

                <mat-checkbox fxFlex="5%" *ngIf="adding" [(ngModel)]=addCheck 
                (click)="isChecked=!isChecked"></mat-checkbox>   
                
                 <input [(ngModel)]=data fxFlex="95%"  class="inputNote" placeholder="List Item" 
                 (keydown.enter)="enter($event)"
                 [ngStyle]="{'background-color':colorMyevent}"    (keydown.backspace)="remove()"/>

            </div>
            <mat-divider></mat-divider>

        </div>
                        <!-- -----------------CheckList end------------------------- -->

                    <div></div>
                     <!---------------------------- label ----------------------- -->

        <div fxLayout="row wrap" fxlayoutAlign="start start" fxLayoutGap="8px">
            <div *ngFor="let label of array2 ">
                <mat-chip-list selected>
                    <mat-chip style="margin-top:15px">
                        {{label}}
                        <mat-icon matChipRemove (click)="removeAssignments()">cancel

                        </mat-icon>

                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>

 <!-------------------------------collaborators --------------------------->
         <div fxLayout="row wrap" >
          <div  *ngFor="let person of  collaborators"  class="index" fxLayoutGap="40px">

       <button  matTooltip="{{person.email}}" (click)="openCollaborator()"
       class="basic" mat-mini-fab >
          {{person.firstName | uppercase | slice : 0 : 1 }}
       </button>
   
       </div>
       </div>

    <!----------------------- reminders Begins----------------------- -->
        
       <!----------------------- reminders----------------------- -->


 <div fxLayout="row wrap" fxlayoutAlign="start start" fxLayoutGap="5px">

          <div *ngFor="let item of remindArray">
            <mat-chip-list selected>
              <div *ngIf='(todaydate | date:shortDate) == (item | date:shortDate )'>
                <mat-chip>
                  <mat-icon >access_time</mat-icon>
                            Today {{item | date:"shortTime"}}
                            <app-remindicon style="opacity:0" [noteId]="noteNew" 
                                             (remindTopEvent)="reminding($event)">
                                </app-remindicon>
              
                  <mat-icon (click)="removeReminders()" matChipRemove>cancel</mat-icon>
                </mat-chip>
              </div>
              <div *ngIf='(tomorrow | date:shortDate) == (item | date:shortDate )'>
                <mat-chip>
                  <mat-icon >access_time</mat-icon>
                            Tomorrow {{item | date:"shortTime"}}
                            <app-remindicon  style="opacity:0;width:8px" [noteId]="noteNew" 
                            (remindTopEvent)="reminding($event)">
               </app-remindicon>

                  <mat-icon (click)="removeReminders()" matChipRemove>cancel</mat-icon>
                </mat-chip>
              </div>
              <div *ngIf='(todaydate | date:shortDate) !==(item | date:shortDate ) && 
              (tomorrow | date:shortDate) !== (item | date:shortDate )'>
                <mat-chip>
                  <mat-icon >access_time</mat-icon>
                            {{item | date:"medium"}}
                            <app-remindicon  style="opacity:0"[noteId]="noteNew" 
                            (remindTopEvent)="reminding($event)">
               </app-remindicon>

                  <mat-icon (click)="removeReminders()" matChipRemove>cancel</mat-icon>
                </mat-chip>
              </div>
            </mat-chip-list>
          </div>
        </div>
  
            <!-- ---------------------reminders end----------------------- -->
        

        <div fxLayoutAlign="space-between" 
        fxLayout="row" fxLayout.xs="row" 
        fxLayout.sm="row" fxLayout.lg="row" >
            <!-- <div fxFlex="70" class="icons" fxLayoutAlign="space-between"> -->
                <!-------------------- mat-card actions div-------------------- -->
         <div  fxLayoutAlign="space-between"   class="action"  fxFlex >       
              <div fxLayoutAlign="space-between" fxFlex> 
                   <app-remindicon [noteId]="noteNew"  (remindTopEvent)="reminding($event)" ></app-remindicon>
                <!-- <app-collaboratoricon ></app-collaboratoricon> -->

                <div (click)="openCollaborator()">
                    <mat-icon style="cursor:pointer" matTooltip="Collaborator">
                                person_add</mat-icon>
                    </div>

                <app-coloricon (responseNew)="change($event)"></app-coloricon>
                <app-imageicon></app-imageicon>
                <app-archiveicon [archiveNotesArray]='archiveNotesArray'></app-archiveicon>
                <mat-icon mat-icon-button style="margin-bottom:-10px;user-select: none;" 
                [matMenuTriggerFor]="menu" matTooltip="More">more_vert
            </mat-icon>&nbsp;
              </div>
                <mat-menu  class="menu" #menu="matMenu"
                 [overlapTrigger]="false">

                    <button mat-menu-item (click)="getLabel()" [matMenuTriggerFor]="addlabel">
                        <span>Add label</span>
                    </button>
                    <mat-menu [overlapTrigger]="false" (click)="$event.stopPropagation();"
                     #addlabel="matMenu">
                        <div class="title">Label note

                        </div>
                        <br><div fxLayout="row" (click)="$event.stopPropagation();">
                            <mat-icon fxFlex="30" (click)="searchState()">search</mat-icon>
                            <input class="inputTitle" [(ngModel)]="search" 
                            placeholder="Enter label name">
                        </div>
                        <br><div *ngFor="let label of ArrayOfLabel | searchData:search">

                            <mat-checkbox (click)="$event.stopPropagation();" 
                            (click)="clickFunc(label)" class="example-margin">{{label.label}}
                        </mat-checkbox>
                        </div>
                    </mat-menu>
                </mat-menu>

            <!-- </div> -->
            <div><button mat-icon-button (click)="close();choose3=true" class="close" matTooltip="close">
                CLOSE</button></div>

        </div>

        </div>
    </mat-card>



<!-- ------------------------------Collaborators------------------------------------------------------ -->
<mat-card 
fxFlex="54"
fxFlex.md="100%"
fxFlex.sm="100%"
fxFlex.xs="100%"
   *ngIf="!collab" 
    class="collaborator">
    <mat-card-content>
      <div class="collab">Collaborators</div>
      <hr>
      <!------------------------------------- owner div---------------------------------------- -->
      <div fxLayout="row " fxLayoutGap="20px">
        <button *ngIf="img!=''" mat-mini-fab 
                [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">
        </button>
        <button *ngIf="img==''" mat-mini-fab>
          {{firstName | titlecase | slice : 0 : 1 }}
        </button>
  
        <mat-content fxFlex class="content">
          {{firstName | titlecase}} {{lastName | titlecase}} <i>(owner)</i>
        </mat-content>
      </div>
  
      <div class="contentNew">
        <mat-content fxFlex="30">{{email}}</mat-content>
      </div>
  
      <!-------------------------------------  receiver div--------------------------------- -->
  
      <div *ngFor="let person of collaborators" fxLayout="row" class="index" fxLayoutGap="20px">
  
        <button class="basic" mat-mini-fab> {{person.firstName | uppercase | slice : 0 : 1 }}
        </button>
  
        <mat-content  fxFlex class="content">
          {{person.email}} </mat-content>
        <!-- <mat-content fxFlex="5" style="border: solid" class="email">{{person.email}}</mat-content> -->
        <mat-button  fxFlex="7"  matTooltip="Delete" class="delete" (click)="removeCollaborator(person.userId)">
          <mat-icon>clear</mat-icon>
        </mat-button>
      </div>
  
      <!------------------------------------- search receiver div--------------------------------- -->
  
      <div class="person">
        <button class="fab" mat-mini-fab color="disabled"><mat-icon>person_add</mat-icon>
        </button>
  
        <input fxFlex [matMenuTriggerFor]="menu" class="input" type="text" (keyup)="searchPeople(searchEmail)"
                name="search" [(ngModel)]="searchEmail"
          placeholder="Person or email to share with">
  
        <mat-button fxFlex="7"   matTooltip="Add Collaborator" (click)="onEnter(searchEmail)">
          <mat-icon class="done">done</mat-icon>
        </mat-button>
  
        <!-- --------------------------------mat menu div-------------------------------------- -->
        <mat-menu class="menuNew" #menu="matMenu" [overlapTrigger]="false">
  
          <div *ngFor="let item of FriendsList">
            <button (click)="clickUser(item.email)" mat-button>
              {{item.firstName}} {{item.lastName}} <{{item.email}} >
            </button>
          </div>
  
        </mat-menu>
      </div>
  
    </mat-card-content>
  
  
    <div fxLayoutAlign="end" fxLayoutGap="10px">
      <button class="cancel" matTooltip="Cancel" (click)="closeCollaborator()" mat-button color="basic">Cancel</button>
      <button class="cancel" matTooltip="Save" (click)="closeCollaborator()"
              mat-button color="basic">Save</button>
    </div>
  
  </mat-card>



<!-- ------------------------------Collaborators ending------------------------------------------------------ -->



</div>
         
         <div 
         fxFlex.xs=0
         fxFlex="10">

            </div>  
            <div  
            fxFlex.xs=0
             fxFlex></div>















             



 