@import '../../../scss/_variables.scss';
@import '../../../scss/_mixins.scss';

.icons {
    opacity: 0.75;
  }
  
  .remind {
    @include over();
  }
  
  .mat-menu-panel {
    min-width: 112px;
    max-width: 280px;
    overflow: none;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 48px);
    border-radius: 2px;
    outline: 0;
  }
  
  .save {
    margin-left: 40px;
  }
  
  .arrow {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    padding-top: 30px;
  }