

.icons{
    opacity:0.75;

}
.remind{
    overflow: hidden
}
.mat-menu-panel {
    min-width: 112px;
    max-width: 280px;
    overflow: none;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 48px);
    border-radius: 2px;
    outline: 0;
}
.save{
margin-left:40px;
}
.arrow{
    margin-top:20px;
}