
<app-notes (notesNew)="noteOff($event)" ></app-notes><br>

<div *ngIf="showLoader">
 <app-notescard [myData]="arrayPinData" (pinEvent)="notes($event)"(noteEvent)="getAllNotes($event)"  
 (colorevent)="getAllNotes($event)" (archive)="getAllNotes($event)" 
  (updateEvent)="getAllNotes($event)" (reminderEvent)="getAllNotes($event)" 
  [length] = "arrayPinData.length" [string]="'PINNED'"></app-notescard>
 
<app-notescard [myData]="arrayNewData" (notesEvent)="getAllNotes()"  (pinEvent)="notes($event)" 
 (noteEvent)="getAllNotes($event)" (colorevent)="getAllNotes($event)" (archive)="getAllNotes($event)"
  (updateEvent)="getAllNotes($event)" (reminderEvent)="getAllNotes($event)" 
  [length]="arrayPinData.length" [string]="'OTHERS'"></app-notescard>
 </div>
<div>
  <app-loader *ngIf="!showLoader"></app-loader>
</div>