
<app-notes (eventClicked)="getAllNotes($event)" ></app-notes><br>

<div *ngIf="arrayPinData.length!=0">
 <h3 class="pin">Pinned</h3>
 <app-notescard [myData]="arrayPinData" (pinEvent)="notes($event)"(noteEvent)="getAllNotes($event)"  
 (colorevent)="getAllNotes($event)" (archive)="getAllNotes($event)" 
  (updateEvent)="getAllNotes($event)"
  (reminderEvent)="getAllNotes($event)"
 ></app-notescard>
 
 <h3 class="pin" >others</h3>

<app-notescard [myData]="arrayNewData" (notesEvent)="getAllNotes()"  (pinEvent)="notes($event)" 
 (noteEvent)="getAllNotes($event)" 
(colorevent)="getAllNotes($event)" (archive)="getAllNotes($event)" 
 (updateEvent)="getAllNotes($event)"
 (reminderEvent)="getAllNotes($event)"></app-notescard>
</div>

<div *ngIf="arrayPinData.length==0">
 <app-notescard [myData]="arrayPinData" (pinEvent)="notes($event)"(noteEvent)="getAllNotes($event)"  
 (colorevent)="getAllNotes($event)" (archive)="getAllNotes($event)" 
  (updateEvent)="getAllNotes($event)"
  (reminderEvent)="getAllNotes($event)"
 ></app-notescard>
 

<app-notescard [myData]="arrayNewData" (notesEvent)="getAllNotes()"  (pinEvent)="notes($event)" 
 (noteEvent)="getAllNotes($event)" 
(colorevent)="getAllNotes($event)" (archive)="getAllNotes($event)" 
 (updateEvent)="getAllNotes($event)"
 (reminderEvent)="getAllNotes($event)"></app-notescard>
 </div>