<div fxLayout='row' fxLayoutAlign="center center" class="container">
    <mat-card fxFlex="30" fxFlex.xs="100">
        <my-slide-panel [activePane]="isLeftVisible ? 'right' : 'left'">
            <div leftPane>
                <form>
                       <!--------login---------- -->

                    <div class="class2">
                        <div class="class3" align="center">fundooNotes</div><br>
                        <div class="class4" align="center">Sign in </div><br>
                        <div class="class5" align="center">Continue to login </div><br>

                         <!--------Email---------- -->

                        <mat-form-field class="email">
                            <input matInput placeholder="Email" [formControl]="email" 
                                   [(ngModel)]="model.email" required>
                            <mat-error *ngIf="email.invalid">{{errorMessage()}}</mat-error>
                        </mat-form-field><br><br>
                        <div>
                            <div class="class6">Please continue to login </div><br><br>
                        </div>
                        <a mat-button class="logIn" routerLink="/signup">
                            Create account</a>
                        <button class="nextNew" (click)="next()" mat-raised-button>
                            Next
                        </button>
                    </div>
                </form>
            </div>
            <div rightPane>
                <form>
                    <div class="class3" align="center">fundoo</div><br>
                    <div class="class4" align="center">Welcome </div><br>
                        <!--------Password---------- -->

                    <mat-form-field class="password">
                        <input matInput placeholder="Enter password" [formControl]="password"
                              [(ngModel)]="model.password" type="password" 
                              [type]="hide ? 'password' : 'text'"
                            required>
                        <mat-icon matSuffix (click)="hide = !hide">
                                  {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="password.invalid">{{errorpassword()}}</mat-error>
                    </mat-form-field>
                    <div>
                    </div>
                    <a mat-button class="forgotPassword" routerLink="/forgotpassword" > forgot password?
                    </a>
                    <button class="signIn" (click)="signin()" mat-raised-button >
                        Signin</button>
                </form>
            </div>
        </my-slide-panel>
    </mat-card>
</div>