<app-notescard  [myData]="arrayData" (remindEvent)="archive($event)"   ></app-notescard>
<!-- <div fxLayout="row wrap" fxlayoutAlign="start start" fxLayoutGap="5px">
  <div *ngFor="let item of data.reminder">
      <mat-chip-list *ngIf="checkReminder(item)"  selected>
        <mat-chip>
            <mat-icon class="access">access_time</mat-icon> 
            {{item|date:"medium"}}
          <mat-icon matChipRemove (click)="removeReminders(data.id)">cancel</mat-icon>

        </mat-chip>
      </mat-chip-list>

      <mat-chip-list *ngIf="!checkReminder(item)" selected>
        <mat-chip>
            <mat-icon class="access">access_time</mat-icon> 
           <del> {{item|date:"medium"}}</del>
          <mat-icon matChipRemove (click)="removeReminders(data.id)">cancel</mat-icon>

        </mat-chip>
      </mat-chip-list>
    </div>
  </div> -->




  <!-- <div *ngFor="let item of data.reminder">
    <mat-chip-list selected>
      <div *ngIf='(todaydate | date:shortDate) == (item | date:shortDate )'>
        <mat-chip>
          <mat-icon>access_time</mat-icon>
          today {{item | date:"shortTime"}}
          <mat-icon (click)="removeReminders(data.id)" matChipRemove>cancel</mat-icon>
        </mat-chip>
      </div>
      <div *ngIf='(tomorrow | date:shortDate) == (item | date:shortDate )'>
        <mat-chip>
          <mat-icon>access_time</mat-icon>
          tomorrow {{item | date:"shortTime"}}
          <mat-icon (click)="removeReminders(data.id)" matChipRemove>cancel</mat-icon>
        </mat-chip>
      </div>
      <div *ngIf='(todaydate | date:shortDate) !==(item | date:shortDate ) && 
  (tomorrow | date:shortDate) !== (item | date:shortDate )'>
        <mat-chip>
          <mat-icon>access_time</mat-icon>
          {{item | date:"medium"}}
          <mat-icon (click)="removeReminders(data.id)" matChipRemove>cancel</mat-icon>
        </mat-chip>
      </div>
    </mat-chip-list>
  </div> -->