.row-height{
    height:100%;
}
.reset{
    text-align:center;
    color:  #4285f4;
}
.submit{
    margin-top:20px;
    margin-left:200px;
    margin-bottom:10px;
    color:white;
    background-color: #4285f4;
    margin-right:0px;
}
.pswd{
    width:90%;
}