.sidenav-container {
  height: 90%;


}
.row-height{
  height:100%;
  
}
.sidenav {
  width: 300px;
  margin-top:70px;
  overflow-y: scroll
 
}
.mat-toolbar.mat-primary {
  position: sticky;
  background:#fb0 ;
  color: black;

  top: 0;
}
.search{
background-color:#fb0;
overflow: hidden;


}


.search input{
  border:none;
  font-size:15px;
  height:40px;
  outline: none;
  background-color:#fb0;
  min-width:100px;
  /* width:700%; */
  overflow: hidden;

}
.search input:focus{
  background-color:white

}

.search input:hover{
  background-color: white;
}
.notes{
  margin-left: 20px;
}
.Reminders{
  margin-left: 20px;
}
.archive{
  margin-left: 20px;
}
.trash{
  margin-left: 20px;
}
.mat-select-panel {
  margin-top: 45px;
}

.contentstyle{
  font-size:17px;
  font-family:cursive;
  text-align: center
}
.add{
  width:250px;
  margin-top:10px;
 
}
.addaccount{
  background-color: white;
  color:rgb(15, 11, 11);
  margin-left:20px;
}
.logout{
  background-color: white;
  color:rgb(2, 2, 2)
}
.back:hover{
  background-color:lightyellow;
}
.image{
display: none;

}
.change{
  font-size:10px;
  color:white;
  padding-top:40px;
  
}
.imageSelect{
  background-color:#fb0;
  
  color:white;
  text-transform:uppercase;
  height:75px;
  margin-left:10px;
  width:80px;

}
.backNew{
  margin-left:10px;
}