@mixin border(){
border: none;
outline: none;
}

@mixin ellipsis() {
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden !important;

}
@mixin over(){
overflow: hidden;
}
@mixin right(){
float:right;
}
@mixin font(){
font-family: 'Google Sans',Roboto,Arial,sans-serif;
}
@mixin word(){
word-wrap:break-word;
    }
@mixin scroll(){
    height: 490px;
overflow-y:auto;
overflow-x:hidden !important;
}
@mixin topmargin(){
    margin-top:10px;
}
@mixin fundoo(){
    border-radius:30px 30px 30px 30px;
    margin-top:25px;
    padding:10px 0px 0px 10px;
    background-color: #fb0;
    color:white;
    height:35px;
    width:110px;
    font-size:18px;
}
@mixin go(){
    width:240px;
    background-color: $lightblue;
    color:$white;
}
@mixin toolbar(){
    position: sticky;
    background: $yellow;
    color: black;
    top: 0;
}
@mixin newFont(){
    font-size: 20px;
    font-weight: lighter;
    font-family: cursive

}