.inputNote{
border:none;
outline: none;
padding-left: 15px;
font-size: 16px;
font-family: cursive;

}
.label{
font-size: 20px;
padding-left:15px;
}

div[contenteditable=true]:empty::before {
content: attr(placeholder);
opacity: 0.6;
}
.done{
padding-left:15px;
}

.clear{
padding-left: 15px;
padding-right: 10px;
}
.btn{
margin-top:15px;
padding-bottom: 10px;
float:right;
padding-right:25px;
}
.label{
outline: none;
border:none
}
.color{
    color:red;
    font-family:cursive;
    margin-left:55px
}
.color1{
    margin-top:15px;
}