.inputNote{
    /* width:545px; */
    border:none;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    font-family: cursive;
    /* margin-bottom: 1px; */
    
  }
  .label{
/*     
      font-family: cursive; */
      font-size: 20px;
      /* font-weight: bold; */
      padding-left:15px;
  }

  div[contenteditable=true]:empty::before {
    content: attr(placeholder);
    opacity: 0.6;
    }
   .done{
       padding-left:15px;
   }
   
   .clear{
       padding-left: 15px;
       padding-right: 10px;
   }
   .btn{
       margin-top:30px;
       padding-bottom: 10px;
       float:right;
       padding-right:10px;
   }