
<div [ngStyle]="{'background-color':data.color}">
  <div fxFlex="85" class="hiddenCard" >
      
      <div fxLayout="row" class="hiddenDiv" >
         
            <div class="inputNote" id="title"  fxFlex="95" [innerHTML]="data.title" contenteditable="true" style="font-weight:bold" placeholder="Title" >{{data.title}}</div> 
           <div> <img class="pinIcon" src="../../../assets/images/pin.svg" alt="">   </div>        
             </div>
  
        <div class="inputNote" id="note"  [innerHTML]="data.description" contenteditable="true" placeholder="Take a note" autofocus>
      {{data.description}}  </div>
        <div fxLayoutAlign="space-between" >
       <div  fxFlex="70" class="icons" fxLayoutAlign="space-between"> 
         <app-remindicon></app-remindicon>
        <app-collaboratoricon></app-collaboratoricon>
        <app-coloricon [myNewColor]="data.id" (updateEvent)="color($event)" ></app-coloricon>
        <app-imageicon></app-imageicon>
        <app-archiveicon [archiveNotesArray]="data.id"  (archiveEvent)="archive($event)"></app-archiveicon>
        <app-moreicon></app-moreicon>
       
      </div>
        <div><button  mat-icon-button (click)="onClick()" (click)="close()"  matTooltip="close" >CLOSE</button></div>
   
      </div>
    </div>
</div>
  
  